{% extends '../main.html' %} {% block title %} 送餐员首页 {% endblock title %}{% block brand %}
<a class="navbar-brand" href="/DispatcherSystem/">送餐系统</a> {% endblock brand %} {% block navigate %}
<li><a href="/DispatcherSystem/">接收订单</a></li>
<!-- 记得设置这个跳转！！！ -->
<li class="active"><a href="/DispatcherSystem/">接单记录 <span class="sr-only">(current)</span></a></li>
<li><a href="/DispatcherSystem/getCash/">提现</a></li>
{% endblock navigate %} {% block tableName %}历史订单 {% endblock tableName %} {% block tableBody %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">订单号</th>
            <th scope="col">商家</th>
            <th scope="col">起始地点</th>
            <th scope="col">商家联系方式</th>
            <th scope="col">顾客</th>
            <th scope="col">目的地点</th>
            <th scope="col">顾客联系方式</th>
            <th scope="col">订单时间</th>
            <th scope="col">顾客评价</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <!--将目录的数据展示在html中-->
        <tr>
            <th scope="row">{{order.orderID|default:"Null"}}</th>
            <td>{{order.MerchantID.ID|default:"Null"}}</td>
            <td>{{order.MerchantID.location|default:"Null"}}</td>
            <td>{{order.MerchantID.phoneNumber|default:"Null"}}</td>
            <td>{{order.CustomerID.ID|default:"Null"}}</td>
            <td>{{order.CustomerID.location|default:"Null"}}</td>
            <td>{{order.CustomerID.phoneNumber|default:"Null"}}</td>
            <td>{{order.createTime|default:"Null"}}</td>
            <td>{{order.commentDispatcher|default:"Null"}}</td>
        </tr>
    </tbody>

    {% empty %}

    <!--若中无数据展示如下内容-->

    <p>暂无历史订单..</p>

    {% endfor %} {% endblock tableBody %}