{% extends '../main.html' %} {% block title %} 商家首页 {% endblock title %} {% block brand %}
<a class="navbar-brand" href="/MerchantSystem/">商家系统</a> {% endblock brand %} {% block navigate %}
<li class="active"><a href="/MerchantSystem/">我的餐品<span class="sr-only">(current)</span></a></li>
<li><a href="/MerchantSystem/addDish/">添加餐品</a></li>
<!-- 记得设置这个跳转！！！ -->
<li><a href="/MerchantSystem/dealItem/">我的订单</a></li>
<li><a href="/MerchantSystem/getCash/">营收提现</a></li>
{% endblock navigate %} {% block tableName %}菜单详情 {% endblock tableName %} {% block tableBody %} 
{% for dish in menu %}
<!--将目录的数据展示在html中-->
<!-- 提交到一个含参数的url注意后端的接收 -->
<form action="/MerchantSystem/Dish/{{dish.ID}}/" method="post">
    {% csrf_token %}
    <li class="media">
        <div class="media-left media-middle" >
                <!-- {{dish.url|default:"Null"}} -->
                <!--设置了default，商家没传图片的话就用默认图片-->
                <img class="media-object"  width="150"  height="150" src="/IMG/{{dish.picture|default:'img/default.jpg'}}" alt="">
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <button type='submit' class=" url" title="更新菜品信息">
                菜名：{{dish.itemName|default:"Null"}}
                </button>
                <span class="label label-default">
                    价格：{{dish.price|default:"Null"}}
                </span>

            </h4>
            简介：{{dish.itemText|default:"Null"}}
        </div>
    </li>
</form>

{% empty %}

<!--若中无数据展示如下内容-->

<p>暂无数据..</p>

{% endfor %} {% endblock tableBody %}