{% extends '../base.html' %} {% block title %} 顾客首页 {% endblock title %} {% block content %}

<div class="" style="background-color: rgb(24, 26, 27) !important; color: rgb(200, 192, 188) !important; border-color: rgb(112, 97, 92) rgb(135, 117, 110) rgb(112, 97, 92) rgb(112, 97, 92) !important;">

    <div class="list-group">
        <a href="#" class="list-group-item active">Cras justo odio</a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
</div>
{% endblock content %}