{% extends '../main.html' %} {% block title %} 顾客首页 {% endblock title %}{% block brand %}
<a class="navbar-brand" href="/CustomerSystem/">顾客系统</a> {% endblock brand %} {% block navigate %}
<li class="active"><a href="/CustomerSystem/">点餐 <span class="sr-only">(current)</span></a></li>
<!-- 记得设置这个跳转！！！ -->
<li><a href="order/list/">我的订单</a></li>
{% endblock navigate %} {% block tableName %}菜单详情 {% endblock tableName %} {% block tableBody %} {% for dish in menu %}
<!--将目录的数据展示在html中-->
<form action="/CustomerSystem/order/{{dish.ID}}/" method="post">
    {% csrf_token %}
    <li class="media">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" src="..." alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <button type="submit" title="选择下单">
                    {{dish.itemName|default:"Null"}}
                </button>
                <span class="label label-default">
                    {{dish.price|default:"Null"}}
                </span>
            </h4>
            {{dish.itemText|default:"Null"}}
        </div>
    </li>

</form>

{% empty %}

<!--若中无数据展示如下内容-->

<p>暂无数据..</p>

{% endfor %} {% endblock tableBody %}