{% extends '../base.html' %} {% block title %} 登录页面 {% endblock %} {% block content %}
<!-- 登录表单 -->
<!-- 表单提交地址未设定 -->
<form style="margin-left:30%;margin-top:20%;" method="POST" action="{% url 'Login:login_post' %}">
    {% csrf_token %}
    <h3 style="margin-bottom: 10%;">校园外卖系统</h3>

    <!-- 输入框 -->
    {{form.as_p}}

    <!-- 后端传来的提示信息 -->
    <p>{{message}}</p>

    <!-- 按钮 -->
        <button type="submit" class="btn btn-primary">
        登录
        </button>
    <!-- 跳转注册界面 -->
    <a href="{% url 'Login:regist' %}">
        <button type="button" class="btn btn-primary">
        注册
        </button>
    </a>
    <!-- 跳转找回界面 -->
    <a href="{% url 'Login:find' %}">
        <button type="button" class="btn btn-primary">
        找回
        </button>
    </a>
</form>
{% endblock %}