{% extends '../base.html' %} {% block title %} 注册页面 {% endblock %} {% block content %}
<div class="container">
    <form style="margin-left:30%;margin-top:20%;">
        <h3 style="margin-bottom: 10%;">账号注册</h3>
        <div class="form-group">
            <label for="user" stype="display:inline;">
                账户：
            </label>
            <input type="text" class="form-control" id="user" style="display:inline;width:200px;" autocomplete="off" />
        </div>

        <div class="form-group">
            <label for="password" style="display:inline;">
                密码：
            </label> <input type="text" class="form-control" id="password" style="display:inline;width:200px;" autocomplete="off" />
        </div>

</div>

{% endblock %}