{% extends '../base.html' %} 
{% block title %} 注册页面 {% endblock %} 
{% block content %}
<div class="container">
    <form style="margin-left:30%;margin-top:20%;" method="POST" action="{% url 'Login:regist_post' %}">
        {% csrf_token %}
        <h3 style="margin-bottom: 10%;">账号注册</h3>

        {{form.as_p}}
        
        {% comment %} 注册按钮 {% endcomment %}
        
        <button type="submit" class="btn btn-primary">
        注册
        </button>
        <p>{{message}}</p>
    </form>
</div>

{% endblock %}